.inputField {
  width: 100%;
  padding: 30px;
  outline: none;
  border-radius: 5px;
  border: none;
}
.mainWrapper {
  margin: 50px;
  :global(.ant-card-body) {
    padding: 5px;
  }
  .Labelheading {
    color: white;
  }
  .heading {
    display: flex;
    align-items: center;
    margin: 30px 0px;
    flex-wrap: wrap;
    h1 {
      color: white;
    }
    .addimg {
      margin: 30px;
    }
  }
  .mainRow {
    .cardBottom {
      .bottomSection {
        .iconsWrapper {
          display: flex;
          justify-content: space-evenly;
          padding: 10px;
          background: red;
          border-radius: 5px;
          .image {
            color: white;
          }
        }
      }
    }
  }
}
