.inputField {
  width: 100%;
  padding: 20px;
  outline: none;
  border-radius: 5px;
  border: none;
}
.galleryView {
  text-align: center;
  .listSection {
    // margin: 30px 0;
    position: relative;
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid transparent;
    &:hover {
      background-color: white;
      color: chocolate;
      border: 1px solid white;
    }
    .galleryLength {
      color: red;
      font-size: 20px;
      top: -12px;
      left: -7px;
      position: absolute;
    }
  }
}
.actionButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  gap: 10px;
  .button {
    padding: 10px 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    &:hover {
      background-color: #cbcdcf;
      color: #172c25;
    }
  }
  @media (max-width: 425px) {
    flex-direction: column;
  }
}
.mainWrapper {
  margin: 30px;
  :global(.ant-card-body) {
    padding: 5px;
  }
  .heading {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 30px 0px;
    flex-wrap: wrap;
    h1 {
      @media (max-width: 375px) {
        font-size: 25px;
      }
      color: white;
    }
    .addimg {
      margin: 30px;
    }
  }
  .mainRow {
    :global(.ant-col) {
      @media (max-width: 375px) {
        padding: 0 !important;
      }
      :global(.ant-card) {
        background-color: rgba(255, 255, 255, 0.05);
        padding: 10px;
        // border: 0.5px solid black;
        border: none;
      }
    }
  }
  .card {
    cursor: pointer;
    &:hover {
      transform: scale(1, 1.009);
    }
    .cardBottom {
      img {
        border-radius: 5px;
      }
      .bottomSection {
        .iconsWrapper {
          display: flex;
          justify-content: space-evenly;
          padding: 10px;
          background: #0084ff;
          border-radius: 5px;
          margin-bottom: 10px;
          .image {
            color: white;
            background-color: #0084ff;
            position: relative;
            font-size: 20px;
            &:hover {
              background-color: #0359a8;
            }
          }
        }
        .buttonsSection {
          display: flex;
          gap: 10px;
          @media (max-width: 768px) {
            flex-direction: column;
            gap: 10px;
          }
          .addTag {
            background-color: #48efb1a8;
            &:hover {
              background-color: #236950;
              color: white;
            }
          }
          .removeTag {
            background-color: #fdc1c1;
            &:hover {
              background-color: #eb8080;
              color: white;
            }
          }
          button {
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 50%;
            @media (max-width: 768px) {
              width: 100%;
            }
          }
        }
      }
      .badge {
        position: absolute;
        bottom: 111px;
        left: 20px;
        @media (max-width: 768px) {
          bottom: 160px;
          left: 30px;
        }
      }
    }
  }
}
.customMasnoryClass{
  margin: 0 !important;
}
.card {
  :global(.ant-card-body) {
    padding: 5px;
  }
  .cardBottom {
    position: relative;
    .badge {
      position: absolute;
      bottom: 130px;
      left: 15px;
      z-index: 10;
    }
    .bottomSection {
      .iconsWrapper {
        display: flex;
        justify-content: space-between;
        background-color: #0084ff;
        .image {
          background-color: #0084ff;
          padding: 20px;
          &:hover {
            background-color: red;
          }
        }
      }
    }
    .buttonsSection {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
      gap: 10px;
      button {
        padding: 10px 30px;
        border-radius: 5px;
        outline: none;
        border: none;
        &:hover {
          background-color: #cbcdcf;
          color: #172c25;
        }
      }
      @media (max-width: 425px) {
        flex-direction: column;
      }
    }
  }
}
